.topheader {
  padding-top: 20px;
  text-align: center;
}

.header {
  padding: 15px 0px;
  margin: 5px 0px;
  text-align: center;
}

.card {
  padding-left: 10px;
}

.title {
  margin: 5px auto;
  font-weight: bolder;
  border: none;
  transition: 0.3s transform;
  cursor: pointer;
}

.title:hover {
  border: none;
  transform: scale(1.03);
}

.title:active {
  border: none;
}

.highlight {
  color: #4e768d;
}

.text {
  padding-left: 10px;
  display: none;
}

.show {
  display: block;
}

li {
  margin-top: 10px;
  color: #4e768d;
}

ul {
  color: #4e768d;
  padding-left: 15px;
}

p {
  color: #4e768d;
}

img {
  max-width: 350px;
  margin-left: 20vw;
  margin-right: 20vw;
  height: auto;
}

.footer {
  text-align: center;
  margin: 70px;
}

.centered {
  text-align: center;
}
