button {
  padding: 10px;
  margin: 15px;
  border-radius: 0.2rem;
}

.topheader {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.header {
  padding: 10px 0px 5px 0px;
  margin: 5px 0px;
  text-align: center;
}

.card {
  padding-left: 10px;
}

.title {
  margin: 5px 5px 5px auto;
  font-weight: bolder;
  border: none;
  transition: 0.3s transform;
  cursor: pointer;
}

.title:hover {
  border: none;
  transform: scale(1.04);
}

.title:active {
  border: none;
}

.highlight {
  background-color: rgba(0, 0, 0, 0);
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

.show {
  display: block;
  border: solid 0.05rem #3f5e6d;
  border-radius: 0.2rem;
}

li {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: justify;
}

ul {
  background-color: rgba(0, 0, 0, 0);

  padding-left: 15px;
}

p {
  background-color: rgba(0, 0, 0, 0);
  text-align: justify;
}

.selectedBackground {
  border: solid 0.05rem #3f5e6d;
  border-radius: 0.2rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

.footer {
  text-align: center;
  margin: 70px;
}

.centered {
  text-align: center;
}
