@media screen and (min-width: 0px) and (max-width: 900px) {
  #scrollinstructions {
    display: none;
  } /* hide it on small screens */
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  #scrollinstructions {
    display: block;
  } /* show it elsewhere */
}

.scrollbutton2 {
  background-color: transparent;
  float: right;
  position: fixed;
  left: 3%;
  top: 20px;
  z-index: 4;
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 22px;
  padding: 5px;
  width: 43px;
  height: 31px;
  text-align: center;
}
.scrollbutton1 {
  background-color: transparent;
  float: right;
  position: fixed;
  left: 3%;
  top: 70px;
  z-index: 4;
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 22px;
  padding: 5px;
  width: 43px;
  height: 31px;
  text-align: center;
}

.arrow {
  display: inline;
  vertical-align: bottom;
}

button {
  padding: 10px;
  margin: 15px;
  border-radius: 0.2rem;
  cursor: pointer;
  border: solid 0.05rem #3f5e6d;
}

button:hover {
  transform: scale(1.04);
  border: solid 0.05rem #3f5e6d;
}

button:active {
  transform: scale(1.08);
  border: solid 0.05rem #3f5e6d;
}

h1 {
  margin-bottom: 0px;
}

.topheader {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.header {
  padding: 10px 0px 5px 0px;
  margin: 35px 0px 25px 0px;
  text-align: center;
}

.card {
  padding: 3px;
}

.title {
  margin: 10px;
  font-weight: bolder;
  border: none;
  transition: 0.3s transform;
  cursor: pointer;
}

.title:hover {
  border: none;
  transform: scale(1.04);
}

.title:active {
  border: none;
}

.highlight {
  background-color: rgba(0, 0, 0, 0);
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

.show {
  display: block;
  border: solid 0.05rem #3f5e6d;
  border-radius: 0.2rem;
}

li {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: justify;
}

ul {
  background-color: rgba(0, 0, 0, 0);

  padding-left: 15px;
}

p {
  background-color: rgba(0, 0, 0, 0);
  text-align: justify;
}

.selectedBackground {
  border: solid 0.05rem #3f5e6d;
  border-radius: 0.2rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.halfwidthsmall {
  max-width: 350px;
  margin-bottom: 15px;
}

.halfwidth {
  max-width: 400px;
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  margin: 70px;
}

.centered {
  text-align: center;
}
