* {
  font-family: "Averia Sans Libre", cursive;
  text-align: left;
  position: relative;
  color: #6b6a68;
  background: #eae7dc;
  margin-right: auto;
  margin-left: auto;
  max-width: 780px;
  font-size: 17px;
}
